body {
    font-size: 16px; 
    line-height: 1.5;
    margin: 10px;
    font-family: sans-serif;
}

textarea, input[type="text"], input[type="file"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px; 
    margin-bottom: 10px;
}


button, input[type="submit"] {
    width: 100%;
    max-width:150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
}

dl {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

dd {
    margin-left: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}
